:root{
   --darkShadow : 2px 5px 3px rgba(0, 0, 0, 0.5);
   --darkShadow2 : 5px -2px 3px rgba(0, 0, 0, 0.5);
   --shadow : 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
   --dark : #333;
   --darkLight : #ddd;
   --white : #fff;
   --light : #eee;

   --rem : 1rem;
   --halfRem : 0.5rem;
}

body{
   line-height: 1.5rem;
   color : var(--dark);

}

.course-image{
  height: 20rem;
}

header{
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat cover;
}

header h1{
   color: var(--dark);
   text-shadow: var(--darkShadow2);
   font-style: italic;
   font-weight: bold;
}

.showcase{
  padding-top : 5rem;
  font-family : Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50rem;
  position: relative;
  
  background-image: url(../img/cover.jpg);
  background-repeat: cover no-repeat ;
}

.showcase{
  text-align: center;
  color : black;
}

.showcase h3{
  font-size: 30px;
  font-style: italic;
  color : var(--dark);
  border-radius: 20px;
  font-weight:bold;
}

.showcase p{
  font-weight : bold;
  font-style : italic;
  text-decoration : underline #333;
}


.main-sub{
   box-shadow: var(--darkShadow);
   margin-top : 5rem;
   padding-top : 2rem;
   text-align: center;
}

.displayTotal{
   font-size: 20px;
   text-align: end;
}

.colour-Style{
  width: 20px;
  height: 20px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, .2);
}

.card{
  margin-top: 1rem;
  box-shadow: var(--darkShadow);
}

.dropSection{
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
}

.price{
  text-align: left;
}
/* All the shoe colours ikn stock */
.red{ background-color: red; }
.blue{ background-color: blue; }
.orange { background-color: orange; }
.gold {background-color: gold; }
.pink { background-color: pink; }
.white { background-color: white; }
.black { background-color: black; }
.purple { background-color: purple; }
.yellow { background-color: yellow; }
.silver { background-color: silver; }
.green { background-color: green; }
.crimson { background-color: crimson; }
.grey {background-color: grey}


#shoe-list h3{
  font-weight : bold;
  color : var(--dark);
  text-align: center;
  font-style: italic;
}

/* Footer */
footer p{
   text-align: center;
   font-size: 12px;
   background-color: var(--dark);
   color: var(--light);
   margin: 0;
   padding: 0;
   margin-top: var(--halfRem);

}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .main{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap:2rem;
  }

  .main-sub{
    width: 100%;
  }

  .myStockDisplay{
    display: grid;
    grid-template-columns : repeat(2, 1fr);
    grid-gap : 3rem;
  }
  .card{
    width: 100%;
  }

  .dropSection{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .showcase{
    padding-top : 5rem;
    font-family : Arial, Helvetica, sans-serif;
    width: 100%;
    height: 40rem;
    position: relative;
    
    background-image: url(../img/cover.jpg);
    background-repeat: cover no-repeat ;
  }

  .main{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:2rem;
  }

  .main-sub{
    width: 100%;
  }

  .myStockDisplay{
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap : 3rem;
  }
  .card{
    width: 100%;
  }

  .dropSection{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .showcase{
    padding-top : 5rem;
    font-family : Arial, Helvetica, sans-serif;
    width: 100%;
    height: 35rem;
    position: relative;
    
    background-image: url(../img/cover.jpg);
    background-repeat: cover no-repeat ;
  }

  .main{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
  }

  .main-sub{
    width: 100%;
  }

  .myStockDisplay{
    display: grid;
    grid-template-columns : repeat(4, 1fr);
    grid-gap : 2rem;
  }
  .card{
    width: 100%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
