:root{
   --darkShadow : 2px 5px 3px rgba(0, 0, 0, 0.8);
   --darkShadow2 : 5px -2px 3px rgba(0, 0, 0, 0.5);
   --dark : #333;
   --darkLight : #ddd;
   --white : #fff;
   --light : #eee;

   --rem : 1rem;
   --halfRem : 0.5rem;
}

body{
   line-height: 1.5rem;
   color : var(--dark);
}

h1, h2, h3, h4{
   width:100%;
   font-style: italic;
   text-align: center;
}

.container-fluid{
   background-color: var(--light);
   box-shadow: var(--darkShadow);
}

.sections{
   margin : 0 var(--rem);
}

                              /* Header */
header{
   background-color: var(--dark);
   color:  var(--darkLight);
   text-align: center;
   text-shadow: var(--darkShadow2);
   font-style: italic;
   box-shadow: var(--darkShadow);
   margin-bottom: var(--halfRem);
}
header p{
   text-decoration:underline;
   color: crimson;
   display: inline-block;
   text-shadow: var(--darkShadow);
   font-style: italic;
}

.fa-cart-plus:hover{
   color:green;
}

.cartDropDowns{
   text-align: right;
}


/* addingStock */

input{
   margin-right : var(--rem);
   border-radius: 5px;
}

.addingStock{

}

.ad{
   text-align: center;
}
.ad button{
   width : 10rem;
   border-radius: 8px;
}

.ad button:hover{
   background-color: green;
   color: cyan;
   font-weight: bold;
}

.addingStock .boxes{
   margin-bottom: var(--rem);

}
.addingStock button{
   text-align: center;
}

/* Search section */
/* .searchBrand{
   height: 200px;
} */

.searchBrand .searchBtns{
   width: 90;
   margin: auto;
   margin-bottom: 1rem;
}

.searchBrand .searchShoe{
   width: 50%;
   margin: auto;
}

.searchBrand .dropDown{
   /* for the items in the dropdown menu to be aligh with each other */
   position:relative;
}

/* Current Stock display */
.myStockDisplay{
   text-align: center;
   font-style: italic;
}
.myStockDisplay,th{
   padding: 0.5rem 1.2rem;
}
.myStockDisplay td{
   padding: 0.5rem 0;
}
.myStockDisplay td:nth-child(1){
   font-weight: bold;
   background-color:#000a;
   color:var(--white);
}
.myStockDisplay tr:nth-child(even){
   background-color: var(--darkLight);
}

/* Footer */
footer, p{
   text-align: center;
   font-size: 12px;
   background-color: var(--dark);
   color: var(--light);
   margin: 0;
   padding: 0;
   margin-top : 0.5rem;

}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
